
body { font-family: Georgia; color: #000000; }
#head { margin-left: 10em; margin-right: 10em ; padding-bottom: 3em; border-bottom: 2px solid #000000 }
#head h1 { font-size: 50px; text-transform: uppercase; letter-spacing: 3px; }
#head h2 { font-size: 150%; text-transform: uppercase; letter-spacing: 2px; font-style: italic }
#body { margin-left: 10em; margin-right: 10em}
h2 { font-size: 120% }
h3 { font-size: 100% }
h4 { font-size: 100% }
h5 { font-size: 80% }
p { line-height: 18px }
li { line-height: 25px; border-bottom: 1px solid #ccc; }
.contact { position: absolute; top: 2em; right: 10em }
.sectionTitle h2 { font-size: 150%; border-bottom: 2px solid #000000; padding-top: 1em }
.job { position: relative; padding-bottom: 1em; }
.job h4 { position: absolute; top: 0.35em; right: 0 }
.job p { margin: 0.75em 0 3em 0; }
.score { position: relative; padding-bottom: 0em }
.score h4 { position: absolute; top: -1.5em; right: 0 }
#body { padding-bottom: 5em }
